.card-img-top {
    width: 180px;
    height:180px;
    margin: 0 auto;
}
main {
    padding-top:80px;
}
.btn-primary{
    background-color: #ff7f00;
    color: #ffffff;
    border: 2px solid #ff7f00; 
}
.btn-primary:hover{
    opacity:0.8;
    background-color: #ff7f00;
    border: 2px solid #ff7f00; 
}